<h1>Registration</h1>

<form>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      placeholder="secret"
    />
  </div>
</form>
